<ul class="nav__listfooter" id="navlinkitems">
<li class="nav__item">
  <a href="#home-section" class="nav__linkfooter" id="home">
    About
  </a>
</li>
<li class="nav__item">
  <a href="#about-section" class="nav__linkfooter" id="about">
    Careers
  </a>
</li>
<li class="nav__item">
  <a href="#skills-section" class="nav__linkfooter" id="service">
    Events
  </a>
</li>
<li class="nav__item">
  <a href="#projects-section" class="nav__linkfooter" id="work">
    Products
  </a>
</li>

<li class="nav__item">
  <a href="#contacts-section" class="nav__linkfooter" id="contact">
    Support
  </a>
</li>
</ul>