<section class="section one" id="abouthome">
      <img class="imagecenter" src="<%= home_image %>" />

      <div class="side">
        <p class="title-side">
        <%= t :title_side %>
        </p>

        <p class="content-side">
        <%= t :home_content %>
        </p>
      </div>
</section>