<ul class="nav__list" id="navlinkitems">
          <li class="nav__item">
            <a href="#abouthome" class="nav__link" id="home">About</a>
          </li>
          <li class="nav__item">
            <a href="#careers" class="nav__link" id="about">Careers</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link" id="service">Events</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link" id="work">Products</a>
          </li>

          <li class="nav__item">
            <a href="#" class="nav__link" id="contact">Support</a>
          </li>
</ul>